body {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: flex;
    flex-flow: row wrap;
}

img {
    height: 70px;
    width: 70px;
}

.frame {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.cologne {
    background-image: url(../images/cologne_photo.jpg);
    background-size: cover;
}

.bilbao {
    background-image: url(../images/bilbao_photo.jpg);
    background-size: cover;
}

.malmo {
    background-image: url(../images/malmo_photo.jpg);
    background-size: cover;
}

.edinburgh {
    background-image: url(../images/edinburgh_photo.jpg);
    background-size: cover;
}